@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

 html,body{
    font-family:sans-serif ;
    font-style: normal;
    height: 100vh;
} 
#root{
    height: 100vh;
}